@keyframes pulse {

    0% {

        transform: scale(0.9);

        opacity: 0.7;

    }

    50% {

        transform: scale(1);

        opacity: 1;

    }

    100% {

        transform: scale(0.9);

        opacity: 0.7;

    }

}



@-webkit-keyframes pulse {

    0% {

        -webkit-transform: scale(0.95);

        opacity: 0.7;

    }

    50% {

        -webkit-transform: scale(1);

        opacity: 1;

    }

    100% {

        -webkit-transform: scale(0.95);

        opacity: 0.7;

    }

}

.animation-pulse {

	animation-name: pulse;

    -webkit-animation-name: pulse;

    animation-duration: 1.5s;

    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;

    -webkit-animation-iteration-count: infinite;

}

body {

  background: #ffffff;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1, h2, h3, h4, h5, h6 {

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

footer.row {

	margin-top: 2em;

  background: #333333;

	max-width: 100%;

	color: #ededed;

	text-align: center;

}

footer.row p {

	margin-top: 1em;

}

.text-center {

	text-align: center;

}

.hidden {

  display: none;

}

.card-product {

	padding: 0.5em;

	border: 1px #cdcdcd solid;

	margin-bottom: 1em;

	background-color: #fff;

}

.card-product-hover:hover,.card-product:focus {

	border: 1px #e4002b solid;

}



h3.card-product-name  {

  color: #ffffff;

}

.accordion .content {

  padding: 0.9375rem 0rem;

}

.accordion .accordion-navigation, .accordion dd {

  margin-bottom: 2px !important;

}

.accordion .accordion-navigation > a, .accordion dd > a {

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

  border: 1px solid white;

}

#panel1b img{

  min-width: 100%;

  border: 1px solid #dcd7d7;

}

.top-bar {

  background: #e4002b;

}

.top-bar.expanded {

  background: #e4002b;

}

.top-bar.expanded .title-area{

	background: #e4002b;

}

.top-bar .toggle-topbar.menu-icon a {

  padding: 0 5px;

}

@media only screen and (min-width: 40.0625em){

  .top-bar-section li:not(.has-form) a:not(.button){

  background: #e4002b;

  }

}

/*.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {

	background: transparent;

}*/

.container {

	margin-top: 2em;

	min-height: 100vh;

}

#error-container h1 {

	font-size: 96px;

}

#error-container h2 {

	font-size: 24px;

}

.text-warning, .text-warning:hover, a.text-warning, a.text-warning:hover, a.text-warning:focus {

  color: #e67e22;

}

.input-error {

	border: 1px #9f0000 solid;

}

.morepadding05 {

	padding: 0.5em;

}

.morepadding1 {

	padding: 1em;

}

.marginbottom05 {

	margin-bottom: 0.5em;

}

.marginbottom1 {

	margin-bottom: 1em;

}

.button{

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.pricing-table.soal-pertanyaan {

    margin-bottom: 0;

    border-bottom: 0;

}

.g-recaptcha{
  padding-bottom: 1em;
}